<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title 'Stay Focused' %} | StayFocused&Co</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="utf-8"/>
    {% block meta '' -%}
    <meta property="og:title" content="{{ block('title') }}"/>
    <meta property="og:site_name" content="stayfocusedandco.fr"/>
    <meta property="og:language" content="fr"/>
    <meta property="og:locale" content="fr_FR"/>
    <meta name="twitter:author" content="@stayfocusedandco"/>
    <link rel="apple-touch-icon" sizes="128x128" href="/favicons/icon-128x128.png">
    <link rel="shortcut icon" href="assets/media/logos/favicon.ico"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700"/>
    <link href="{{ asset('plugins/global/plugins.bundle.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('css/style.bundle.css') }}" rel="stylesheet" type="text/css"/>
</head>
<body id="kt_app_body" data-kt-app-header-fixed-mobile="true" data-kt-app-sidebar-enabled="true"
      data-kt-app-sidebar-fixed="false" class="app-default">
<script>
    var defaultThemeMode = "dark";
    var themeMode;
    if (document.documentElement) {
        if (document.documentElement.hasAttribute("data-bs-theme-mode")) {
            themeMode = document.documentElement.getAttribute("data-bs-theme-mode");
        } else {
            if (localStorage.getItem("data-bs-theme") !== null) {
                themeMode = localStorage.getItem("data-bs-theme");
            } else {
                themeMode = defaultThemeMode;
            }
        }
        if (themeMode === "system") {
            themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
        }
        document.documentElement.setAttribute("data-bs-theme", themeMode);
    }
</script>
<div class="d-flex flex-column flex-root" id="kt_app_root">
    <div class="app-page flex-column flex-column-fluid" id="kt_app_page">
        {% if app.user %}
            {% include 'partials/_header.html.twig' %}
            {% include 'partials/_sidebar.html.twig' %}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} d-flex align-items-center p-5">
                        <div class="d-flex flex-column">
                            <span>{{ message }}</span>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        {% block body %}{% endblock %}
        {% include 'partials/_footer.html.twig' %}
        <div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
            <i class="ki-duotone ki-arrow-up">
                <span class="path1"></span>
                <span class="path2"></span>
            </i>
        </div>
    </div>
</div>
{% block modal %}{% endblock %}
<script src="{{ asset('plugins/global/plugins.bundle.js') }}"></script>
<script src="{{ asset('js/scripts.bundle.js') }}"></script>
{% block javascripts_footer '' %}
</body>
</html>
